<!DOCTYPE html>

<html>

<head>

  <title>Isengard Sanayi Odaları</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device">
</head>


<style>
  form{
    display: flex;
    justify-content: center;
    margin: 20% 45%;;
  }
  </style>
<body>

  <div>
       <div>
   <form action="/process_form" method="post">
        <label for="cname">City:</label>
        <input type="text" id="cname" name="cname" required><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    

  </div>
  
   
 

   
</body>



</html>